<ion-app>
  <ion-header class="headerPadding">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet>
    </ion-router-outlet>
    
  </ion-content>
  <ion-footer>
    <ion-button style="max-width: 85px; min-height:50px" href='/home' >
      <ion-icon name="arrow-back-outline"></ion-icon>
      <br><ion-label>Back</ion-label>
    </ion-button>
    <ion-button style="max-width: 85px; min-height:50px" href='/home' >
      <ion-icon name="home"></ion-icon>
      <br><ion-label>Home</ion-label>
    </ion-button>
    <ion-button style="max-width: 85px; min-height:50px" href='/settings' >
      <ion-icon name="settings"></ion-icon>
      <br><ion-label>Settings</ion-label>
    </ion-button>
  <!-- </ion-tab-bar> -->
  </ion-footer> 
</ion-app>

